# PostgreSQL

DB_HOST=localhost
DB_PORT=5432
DB_NAME=delayed-notifier-db
DB_USER=postgres
DB_PASSWORD=your_password
DB_SSLMODE=disable

# Goose

GOOSE_DRIVER=postgres
GOOSE_MIGRATION_DIR=./migrations

# Redis

REDIS_ADDR=localhost:6379
REDIS_PASSWORD=
REDIS_DATABASE=0